@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
  margin: 0 auto;
  font-family: 'Inter';
  font-style: normal;
}

header{
  background-color: #21222A;
  display: flex;
  align-items: center;
  height: 91px;
}

header img{
  position: absolute;
  left: 20px;
}

nav{
  list-style: none;
  display: flex;
  color: white;
  position: absolute;
  right: 200px;
}

.toggle--container{
  display: flex;
  align-items: center;
  color : white;
  font-size: 10px;
  position: absolute;
  right: 20px;
  width: 150px;
  height: 14px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 14px;
  margin: 0 5px 0;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2B283A;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:after {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 1px;
  bottom: 1px;
  background-color: #2B283A;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(221, 221, 221);
}

input:focus + .slider {
  box-shadow: 0 0 1px #4733ab;
}


input:checked + .slider:after {
  -webkit-transform: translateX(11px);
  -ms-transform: translateX(11px);
  transform: translateX(11px);
}

input:checked + .slider:before {
  -webkit-transform: translateX(11px);
  -ms-transform: translateX(11px);
  transform: translateX(11px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:after {
  border-radius: 50%;
}

.slider.round:before {
  border-radius: 50%;
}

.maincontent{
  background-color: #21222A;
  color: white;
  width: 100%;
  height: 400px;
  background-image: url(./mainlogo.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.maincontent h1{
  margin-left: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
}

.maincontent li{
  list-style: none;
  padding: 10px;
}

.maincontent li svg{
  margin-right: 20px;
}

.mainlogo{
  width: 263px;
  height: 263px;
  margin: 0 auto;
  position: relative;
}

.main h1{
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
  padding-left: 27px;
}

.main ol li{
  color: white;
  list-style: none;
  padding-block: 10px;
}

.main ol li svg{
  padding-right: 14px;
}

.foot{
  background-color: orange;
  margin-top:47px;
}

.light-mode {
  background-color: white;
  color: black;
}

header.light{
  color: black;
  background-color: white;
  /* box shadow */
  box-shadow: 0px 0px 5px rgba(113, 113, 113, 0.632);
}

.light nav {
  color: black;
}

.light h1{
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.light li{
  list-style: none;
  padding: 10px;
}

.light li svg{
  margin-right: 20px;
}

.light .toggle--container{
  color: black;
}