@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

header{
  background-color: #21222A;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  height: 91px;
}
nav{
  list-style: none;
  display: flex;
  color: white;
  padding: 5px;
}

.main{
  background-color: #282D35;
  width: 550px;
  height: 459px;
  margin: 0 auto;
  font-family: 'Inter';
  font-style: normal;
}

.maincontent{
  background-image: url(./mainlogo.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.mainlogo{
  width: 263px;
  height: 263px;
  margin: 0 auto;
  position: relative;
}

.main h1{
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
  padding-left: 27px;
}

.main ol li{
  color: white;
  list-style: none;
  padding-block: 10px;
}

.main ol li svg{
  padding-right: 14px;
}

.foot{
  background-color: orange;
  margin-top:47px;
}