header{
  background-color: darkblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}
nav{
  list-style: none;
  display: flex;
  color: white;
  padding: 10px;
}
.foot{
  background-color: darkgoldenrod;
  text-align: center;
}

.main{
  width: 400px;
  border: 1px solid gray;
  padding-left: 50px;
  padding-right: 50px;
}